[submodule "alldata/bblab_site/tools/phylodating"]
	path = alldata/bblab_site/tools/phylodating
	url = https://github.com/cfe-lab/phylodating.git
[submodule "alldata/bblab_site/tools/tests/phylodating"]
	path = alldata/bblab_site/tools/tests/phylodating
	url = https://github.com/cfe-lab/phylodating.git
[submodule "alldata/bblab_site/tools/fasta_converter"]
	path = alldata/bblab_site/tools/fasta_converter
	url = https://github.com/cfe-lab/fasta_converter.git
[submodule "alldata/bblab_site/tools/translate_DNA"]
	path = alldata/bblab_site/tools/translate_DNA
	url = git@github.com:cfe-lab/translate-DNA.git
[submodule "alldata/bblab_site/tools/phage_i_expanded/repo/PHAGE-I-expanded"]
	path = alldata/bblab_site/tools/phage_i_expanded/repo/PHAGE-I-expanded
	url = git@github.com:cfe-lab/PHAGE-I-expanded.git
[submodule "alldata/bblab_site/tools/blind_dating"]
	path = alldata/bblab_site/tools/blind_dating
	url = git@github.com:cfe-lab/blind-dating.git
[submodule "alldata/bblab_site/depend/apps/tcr_dist"]
	path = alldata/bblab_site/depend/apps/tcr_dist
	url = git@github.com:phbradley/tcr-dist.git
