attrs
bleach
blinker
cryptography
dbus-python
distro
Django
django-appconf
django-axes
django-classy-tags
django-ipware
django-js-asset
django-mptt
django-nyt
django-sekizai
# Django==2.2.28
# django-appconf==1.0.5
# django-axes==5.27.0
# django-classy-tags==3.0.1
# django-ipware==4.0.2
# django-js-asset==2.0.0
# django-mptt==0.9.1
# django-nyt==1.1.6
# django-sekizai==3.0.1
drawsvg
git+https://github.com/cfe-lab/genetracks.git@v0.4
html5lib
httplib2
importlib-metadata
launchpadlib
lazr.restfulclient
lazr.uri
Markdown
mod-wsgi
more-itertools
mysqlclient
numpy
oauthlib
packaging
Pillow
pluggy
py
PyGObject
PyJWT
pyparsing
pytest
python-apt
pytz
PyYAML
scipy
setuptools
six
sorl-thumbnail
sqlparse
wadllib
wcwidth
webencodings
wheel
wiki
zipp
