<!-- In this file contain a header with login/logout links at the top-->

<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{ site_title }}</title>
		<meta name="robots" content="noindex" />
		<link rel="stylesheet" href="{% static "account_style.css" %}">
	</head>
	<body>
		<div id="header-ac">
			<div class="user-tool">			
				<div>Hello, <b>{{username}}</b></div>
			</div> 

        		<div class="user-tool">
				<span>&nbsp;/&nbsp;</span>
				<a class="header-link" href="/django/account/logout/">log out</a>
				<span>&nbsp;/&nbsp;</span>
	 			<a class="header-link" href="/django/admin/">admin page</a>
				<span>&nbsp;/&nbsp;</span>
	 			<a class="header-link" href="/django/wiki">wiki</a>
				<span>&nbsp;/&nbsp;</span>
			</div>
		</div>
		<div id="content-ac">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
